
nav{
    width: 45%;
    height: 120px;
    background-color: black;
    font-size: "sans-serif, Helvetica, Arial";
    
}

nav ul{
    list-style: none;
    margin: 0px auto;
    width: 1090px;
}

nav > ul > li{
    float: left;
    line-height: 40px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

.primero>div{
    height: 10px;
    width: 100%;
    background-color: yellow;
    transition: height 2s ease-in-out;
    z-index: 10;
}

.primero>div:hover{
    height: 100px;
}

