/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos de los menus */
.top {
    width: 100%;
    height: 50px;
    background-color: #7492B9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

#menu-toggle {
    display: none;
}

.top img {
    cursor: pointer;
}

/* Menú lateral que se escondera*/
.menu-lateral {
    width: 20%;
    height: 90vh;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    position: fixed;
    right: 0%;
    top: 50px;
    transition: right 0.8s;
}

.menu-lateral ul {
    list-style: none;
    text-align: center;
    margin-top: 50px;
}

.menu-lateral ul li {
    margin: 115px 0;
}
/* Se aplica si son hermanos */
#menu-toggle:checked ~ .menu-lateral {
    right: -20%; /* Desaparece el menu*/
}
