tr:last-child {
    font: bold;
}

table td:last-child {
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: blue;
    color: white;
}

table tr:nth-child(odd) {
    color: blue;
}

table tr:first-child {
    background-color: red;
    color: white;
}

table tr:last-child {
    background-color: red;
    color: white;
}